In [1]:
print("SUPAKORN BUATIM ")
print("From Angthong")

SUPAKORN BUATIM
From Angthong

In [2]:
print("**********************************************")
print("*           WELCOME TO   SUPKAORN B.STORE              *")
print("**********************************************")
print("BANANA............................................................15 THB")
print("JACK FRUIT.......................................................32 THB")
print("COFFEE.............................................................65 THB")
print("MILK.................................................................10 THB")
print("COLA................................................................25 THB")
print("BEER...............................................................100 THB")
print("SODA..................................................................8 THB")
print("ICE.....................................................................7 THB")
print("")
print("")
print("*****************THANK YOU*******************")

**********************************************
*           WELCOME TO   SUPKAORN B.STORE              *
**********************************************
BANANA............................................................15 THB
JACK FRUIT.......................................................32 THB
COFFEE.............................................................65 THB
MILK.................................................................10 THB
COLA................................................................25 THB
BEER...............................................................100 THB
SODA..................................................................8 THB
ICE.....................................................................7 THB


*****************THANK YOU*******************

In [3]:
print(type(HELLO WOLD))

SyntaxError: invalid syntax (<ipython-input-3-be0f6c824e9b>, line 1)

In [4]:
print(type("HELLO WOLD"))

<class 'str'>

In [5]:
print(type(5.12))

<class 'float'>

In [6]:
print(type(10))

<class 'int'>

In [8]:
print(type(10+3.5))

<class 'float'>

In [9]:
print(18/2)
print(18*2)
print(18-2)
print(18+2)

9.0
36
16
20

In [10]:
print(type(18/2))
print(type(18*2))
print(type(18-2))
print(type(18+2))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>